*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

tr {
    border-bottom: 1px solid rgba(0,0,0,0.12) !important;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    row-gap: 20px;
}

.card-text {
    height: 200px;
    overflow: hidden;
}
.card-text:hover {
    overflow: auto;
}

.footer {
    padding: 20px 0;
    text-align: center;
    background: slateblue;
}

.home {
    padding: 50px 0;
}

.home__title {
    margin-bottom: 30px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.food__video {
    width: 100%;
    height: 300px;
}

.food__list-title {
    font-size: 22px;
    font-weight: bold;
}